<div class="container">
    <h4 class="mrp-production-product">
        {{$ctrl.mrpProduction.product_id[1]}}
    </h4>
    <div class="row top_tiles">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-building-o"></i>
                </div>
                <div class="count">
                    {{$ctrl.mrpProduction.product_qty}}
                </div>
                <h3>{{$ctrl.mrpProduction.product_uom_id[1]}}</h3>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-building-o"></i>
                </div>
                <div class="count">
                    5
                </div>
                <h3>Mezclas</h3>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-6">
        <div class="x_panel">
            <div class="x_title">
                <h2>Lista de Materiales</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <production-modal moveselected="$ctrl.moveselected" context="$ctrl.context"></production-modal>
                <stock-move ng-repeat="i in $ctrl.move_raws" move="i"
                            moveselected="$ctrl.moveselected"></stock-move>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="x_panel">
            <div class="x_title">
                <h2>Mezclas</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

            </div>
        </div>
    </div>
</div>